/ExcelPackageF.Tests/obj
/ExcelPackageF.Tests/bin
/tools/FAKE

/build

/packages
/test
/*.suo
/ExcelPackageF.Nuget/*.bak
/ExcelPackageF.Nuget/*.nupkg
/ExcelPackageF.Nuget/content
/ExcelPackageF.Nuget/lib
/ExcelPackageF.Nuget/obj
/ExcelPackageF.Nuget/bin

/ExcelPackageF.Nuget/NuGet.log
